<header class='header'>
  <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed ">
    <ul class="home-menu-list pure-menu-list ">
      <li class='pure-menu-item'><a class='home-menu-link pure-menu-link' href='{{link "about"}}'>About</a></li>
      <li class='pure-menu-item'><a class='home-menu-link pure-menu-link' href='{{link "portfolio"}}'>Work</a></li>
      <li class='pure-menu-item'><a class='home-menu-link pure-menu-link' href='{{link "blog"}}'>Blog</a></li>
    </ul>
  </nav>
</header>
