@import "theme";

.content-wrapper {
  background: @white none scroll repeat 0 0;
  min-height: 13%;
  position: absolute;
  top: 87%;
  width: 100%;
  z-index: 2;
}

.content {
  padding: 1em;
}

.content-header {
  font-weight: 100;
  text-transform: uppercase;
}

.content-service-icon {
  color: @color-secondary-2-0;
}