@import "theme";
@import "media-queries";
.home-menu {
  background: @color-secondary-1-0 none repeat scroll 0 0;
  padding: 0.5em;
  text-align: center;
  @media @medium {
    text-align: left;
  }
}
.home-menu-link {
  color: @color-secondary-2-2;
  &:hover {
    background-color: inherit;
    color: @color-secondary-2-1;
  }
}
.home-menu-list {
  @media @medium {
    float: right;
  }
}
