@import "theme";
.splash-container {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.splash {
  color: @black;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
.splash-head {
  font: 150px "Italiana", sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  &:first-letter {
    color: @quantum;
  }
}