{{> head}}
{{> header}}

<div class="container">
  <ul>
    {{#each collections.blog}}
      <li>
        <h3><a href={{link this.path}}>{{this.title}}</a></h3>
        <article>{{{this.excerpt}}}</article>
      </li>
    {{/each}}
  </ul>
</div>

{{> footer}}