{{> head}}
{{> home-header}}

<div class="container">
  <ul>
    {{#each collections.posts}}
      <li>
        <h3>{{this.title}}</h3>
        <article>{{{this.excerpt}}}</article>
      </li>
    {{/each}}
  </ul>
</div>

{{> footer}}