{{> head}}
{{> home-header}}

<div class="splash-container">
  <div class="splash animated zoomIn">
    <h1 class="splash-head">Quantum</h1>
    <p>full stack web development</p>
  </div>
</div>

{{> footer}}
